/* Desktop/Laptop mode */
.copyright {
    padding: 2px;
}
.contacts{
    margin-bottom: 5px;
}


/* --- Responsive for Mobile --- */ 
@media (max-width: 768px) {

    .logo {
        height: 30px;
        width: 30px;
    }
    .title {
        font-size: 15px;
    }

    .phone{
        font-size: 11px;
    }

    .email{
        font-size: 11px;
    }

    .text-copy {
        font-size: 10px;
    }

  }
  
