/* Desktop & Base Styling */
.section {
  margin-bottom: 40px;
}

.teamBg,
.area {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.intro,
.fend {
  margin-bottom: 20px;
  line-height: 1.8;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

/* Icon column hover effect */
.icon-col img {
  transition: transform 0.3s ease-in-out;
}

.icon-col img:hover {
  transform: scale(1.05);
}

/* Responsive Styling */
@media (max-width: 768px) {
  .icon-col {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .icon-col img {
    height: 60px;
  }

  .section {
    flex-direction: column;
    text-align: center;
  }

  .text-justify {
    text-align: left;
  }

  .teamBg,
  .area {
    font-size: 22px;
  }

  .prog-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -8vh;
    margin-bottom: 15px;
    gap: 2.5rem;
    /* gap-10 equivalent */
  }

  .section {
    margin-bottom: 40px;
  }

  .teamBg,
  .area {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .intro,
  .fend {
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 12px;
  }

  .type-skill {
    font-size: 13px;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
  }

  /* Icon column hover effect */
  .icon-col img {
    transition: transform 0.3s ease-in-out;
  }

  .icon-col img:hover {
    transform: scale(1.05);
  }

  .page-text {
    padding: 20px;
    margin: 5px;
  }

  .about-text {
    font-size: 30px;
  }

  .bullet {
    height: 20px;
  }

}