/* Desktop/Laptop mode */

button {
  margin-top: 2vh;
}

.messagebox {
  padding: 20px;
}

.message-bg {
  padding: 20px;
  margin-top: -5vh;

}

.second-smg {
  margin-top: 10px;
}

/* --- Responsive for Mobile --- */
@media (max-width: 1200px) {

  .contact-text-field {
    margin: 0 25px;
  }

  .contact-us {
    font-size: 2.5rem;
    margin-bottom: 3vh;
  }

  .contact-text {
    font-size: 13px;
    margin: 0 25px;
  }

  button {
    margin-top: 2vh;
  }
}

/* --- Responsive for Mobile --- */
@media (max-width: 768px) {


  .contact-us {
    font-size: 2rem;
    margin-bottom: 3vh;
  }

  .contact-text {
    font-size: 13px;
    margin: 0 25px;
  }

  .line {
    width: 480px;
  }

  label {
    font-size: 12.5px;
  }

  input {
    height: 38px;
    width: 100%;

  }

  .place-text {
    font-size: 12.5px;
  }

  button {
    height: 12px;
    width: 25px;
    margin-top: 2vh;
    font-size: 12px;
    padding: 0;
  }

  .contact-text-field {
    margin: 0 25px;

  }


  .link-in {
    margin-left: 0;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }

  .social-links ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    /* gap: 10px; */
    padding-left: 0;
    margin-left: 40px;
    padding-bottom: 30px;

  }

  .social-links img {
    width: 35px;
    height: 35px;
  }

  .social-links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .social-links li span {
    display: none;
    /* optional: hide the bullet */
  }

  .social-links a {
    font-size: 10px;
    text-align: left;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* spacing between form and social links */
  }

  .social-links {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  .modal-btn {
    font-size: 14px;
    padding: 8px 25px;
    height: auto;
    width: auto;
    margin-top: 2vh;
    display: inline-block;
  }


  .messagebox {
    padding: 20px;
  }

  .message-bg {
    padding: 20px;
    margin-top: -7vh;

  }

  .primary-title {
    font-size: 18px;
  }

  .second-smg {
    margin-top: 10px;
    font-size: 12px;
  }


}