/* Desktop/Laptop mode */

.team-project {
  margin-top: -5vh;
  margin-bottom: 5vh;
}

/* --- Responsive for Mobile --- */ 
@media (max-width: 768px) {

  .team-project {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .project-card {
    margin: 10px;
  }

}
