/* Desktop/Laptop mode */

.team-project {
  margin-top: -5vh;
  margin-bottom: 5vh;
}

@media (max-width: 1200px) {

  .team-project {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .project-card {
    margin: 10px;
    padding-bottom: 15px;
  }

}

/* --- Responsive for Mobile --- */ 
@media (max-width: 1366px) {

  .team-project {
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .project-card {
    margin: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

/* --- Responsive for Mobile --- */ 
@media (max-width: 768px) {

  .team-project {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .project-card {
    margin: 10px;
    padding-bottom: 15px;
  }

}
