.team-section {
  min-height: 100vh;
  padding: 2rem 1.5rem;
  background: linear-gradient(to bottom right, #111827, #1e293b, #0e7490);
}

.team-header {
  margin-right: 53px;
}

.team-title-group {
  margin-bottom: 10px;
}

.team-subtitle {
  margin-top: 10px;
}

.team-logo {
  padding-bottom: 10px;
  margin-bottom: 8px;
}


.team-title {
  margin-left: 20px;
  margin-top: 30px;
}

.team-card {
  width: 270px;
  height: 470px;
  padding: 1rem;
}

.team-avatar {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.team-name {
  margin-bottom: 1.5rem;
}

.team-role {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  padding-left: 4px;
  

}

.team-skills {
  margin-bottom: 1rem;
  padding-left: 4px;
}


.team-skills li {
  margin: 2px 0;
}

.team-icons {
  gap: 1rem;
  margin-top: auto;
}


.layered-footer {
  margin-top: auto;
  margin-left: -50px;
  margin-bottom: -64px;
}

.footer-top {
  margin-right: 90px;
}

/* --- Responsive for Mobile --- */
@media (max-width: 768px) {
  .team-header {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    margin-right: -4px;
    margin-top: -40px;
  }

  .team-title {
    font-size: 2rem;
    text-align: center;
    margin-left: -0.8px;
  }

  .team-subtitle {
    font-size: 0.7rem;
  }

  .team-logo {
    height: 120px;
    margin-bottom: -6px;

    
  }

  .layered-footer {
    width: 100%;
    height: 80px;
    margin-left: -50px;
    margin-bottom: -64px;
  }
  
  .footer-base {
    width: 70%;
    height: 65px;
  }
  
  .footer-top {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    width: 90%;
    height: 35px;
  }
}
/*  */